body{
  text-align: center;
  /*background-image: url(./images/team_veggie_logo.png);
  background-repeat: repeat;
  background-size: 10%;
  */
  }
.main_body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  width: auto;
  min-width: 90em;
  /* max-width: 65em; */
}

h2{
  background-color: rgb(255, 255, 255);

}
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.site_name {
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 1em;
  height: auto;
  width: auto;
  margin: 0;
}

.head {
  border: .5em solid;
  border-color: rgb(128, 200, 171);
}

.main_nav {
  background-color: rgb(128, 200, 171);
  text-align: center;
  margin: 0;
  padding: .7em;
  width: auto;
  height: 1em;
}

.bars {
  background-color: rgb(128, 200, 171);
  height: .3em;
  margin: 0;
  margin-top: 1em;
}

.bars_ {
  background-color: rgb(246, 192, 137);
  height: .5em;
  margin: 0;
}


/* ------------------------------------------------------------- */
.foot {
  background-color: rgb(246, 192, 137);
  margin: 0;
}

/* ------------------------------------------------------------- */
.index_body_1 h2 {
  text-align: center;
}

.index_body_1 div {
  height: 5em;
  margin: 1em;
  padding: .5em;
  font-size: 1.5em;
  border:.4em solid;
  border-color: rgb(128, 200, 171);
  border-left-color: rgb(246, 192, 137);
  border-right-color: rgb(246, 192, 137);
  background-color: rgb(255, 255, 255);


}

/* ------------------------------------------------------------- */

.index_body_2 {
  height: 25em;
}

.index_body_2 h2 {
  text-align: center;
}

.s_text {
  text-align: left;
  float: left;
  width: 50%;
  height: 12em;
  margin: 1em;
  margin-left: 25%;
  margin-top: 0;
  padding: 0;
  border: .5em solid;
  border-color: rgb(128, 200, 171);
  border-left-color: rgb(246, 192, 137);
  border-right-color: rgb(246, 192, 137);
  background-color: rgb(255, 255, 255);
}

.index_body_2 img {
  width: 5em;
  height: auto;
}

.source_1, .source_2, .source_3 {
  width: 10em;
  height: 5em;
  padding: 0;
  float: left;
  margin-left: 16.5%;
  margin-top: 0;
  margin-bottom: 2%;
}

li {
  margin: 1em;
}

/* ------------------------------------------------------------- */

.sol_box{
  width: auto;
  height: 20em;

  /* background-color: rgb(133, 175, 128); */
}

#brain{
width: 19.5em;
height: auto;
float: left;
margin-top: 3em;
margin-left: 15%;
margin-right: 0;
border: .5em solid;
border-color: rgb(128, 200, 171);
border-left-color: rgb(246, 192, 137);
border-right-color: rgb(246, 192, 137);
}

.sol_text {
  float:right;
  margin: 1em;
  margin-left: 5%;
  margin-right: 10%;

  width: 40em;
  height: 18em;
  border: .5em solid;
  border-color: rgb(128, 200, 171);
  border-left-color: rgb(246, 192, 137);
  border-right-color: rgb(246, 192, 137);
  background-color: rgb(255, 255, 255);
}
.solution {
  padding-top: 0em;
  background-color: rgb(255, 255, 255);

}

#explaination {
  background-color: rgb(255, 255, 255);

  text-align:left;
  margin: 1em;

}
/* ------------------------------------------------------------- */

.index_body_4 {
  width: auto;
  height: 23em;
  /* background-color: rgb(155, 186, 164); */

}

.index_body_4 img{
  width: 15em;
  height: auto;
}



.per_1, .per_2, .per_3{
  background-color: rgb(255, 255, 255);
  float: left;
  width: 15em;
  height: 17em;
  padding: 0;
  /* background-color: rgb(183, 215, 208); */
  margin-left: 12%;
  margin-top: 0;
  border: .5em solid;
  border-color: rgb(128, 200, 171);
  border-left-color: rgb(246, 192, 137);
  border-right-color: rgb(246, 192, 137);
  cursor: pointer;

}

/* .per_1{
  float: left;
}

.per_2{
  float: left;

}

.per_3{
  float: left;

} */

/* ------------------------------------------------------------- */
.pr_body_1 {
  /* background-color: rgb(172, 161, 222); */
  text-align: center;
  width: auto;
  height: auto;
}

.pr_body_1 img {
  padding-top: 1em;
  width: 20em;
  height: auto;

}

.circle_clip {
  clip-path: circle(9em at center);
}

/* ------------------------------------------------------------- */
.pr_body_2 {
  width: auto;
  min-width: 50em;
  height: 15em;
  text-align: left;
}

.body_2_left {
  float: left;
  width: 43%;
  height: 12em;
  margin: 1.5em;
  padding: .5em;
  border: .5em solid;
  border-color: rgb(128, 200, 171);
}

.body_2_right {
  float: right;
  width: 43%;
  height: 12em;;
  margin: 1.5em;
  padding: .5em;
  border: .5em solid;
  border-color: rgb(128, 200, 171);
}

/* ------------------------------------------------------------- */
